<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="SeleniumAPIFramework" parallel="tests"
	thread-count="2" preserve-order="true">
		<test name="APITests">
		<classes>
			<class name="apitests.APIAuthTests">
			</class>
		</classes>
	</test>
			<test name="UITests">
		<classes>
			<class name="webtests.SmokeTests">
			</class>
		</classes>
	</test>
</suite>
